appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.5.0
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.1.1
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.2
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-modeltranslation==0.17.5
django-parler==2.3
django-parler-rest==2.2
djangorestframework==3.14.0
drf-yasg==1.21.4
gunicorn==20.1.0
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==22.0
Pillow==9.0.1
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
send==0.2.0
six==1.16.0
sqlparse==0.4.2
telegram==0.0.1
telegram-send==0.25
tornado==6.1
tzdata==2022.1
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.13
whitenoise==6.3.0
