appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.5.0
cachetools==4.2.2
certifi==2021.10.8
colorama==0.4.4
Django==3.2
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-modeltranslation==0.17.5
Pillow==9.0.1
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
send==0.2.0
six==1.16.0
sqlparse==0.4.2
telegram==0.0.1
telegram-send==0.25
tornado==6.1
tzdata==2022.1
tzlocal==4.1
